* {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box;

}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

header {
  background-color: black;
  padding: 10px 0;
}

.wrapper {
  max-width: 1054px;
  margin: 0 auto;
}

.logo {
  display: inline;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.greenLetters {
  color: rgb(39, 199, 171);
}

.menu {
  float: right;
}

ul li {
  float: left;
  margin-left: 50px;
  color: white;
  font-weight: 700;
  list-style: none;
  text-transform: uppercase;
}

.slider {
  background: linear-gradient(rgb(250, 250, 250), rgb(208, 207, 215));
  height: 400px;
}

.arrowBefore {
  display: inline-block;
  float: left;
  font-size: 50px;
  color: rgb(39, 199, 171);
  margin-top: 160px;
}

.blackChair {
  width: 470px;
  height: 337px;
  background-image: url("../images/black_chair.png");
  display: inline-block;
  float: left;
  margin-top: 40px;
}

.content {
  width: 45%;
  display: inline-block;
  float: left;
  margin-top: 100px;
}

.content h1 {
  text-align: center;
}

.content p {
  text-align: center;
  font-size: 14px;
  color: grey;
  line-height: 1.5;
  padding: 5px;
}

.button {
  height: 35px;
  width: 180px;
  background-color: rgb(39, 199, 171);
  border-radius: 5px;
  position: relative; /*???*/
  margin: 20px auto;
}

.button p {
  color: white;
  position: absolute;
  top: 1px;
  left: 35px;
}

.arrowAfter {
  display: inline-block;
  float: right;
  font-size: 50px;
  color: rgb(39, 199, 171);
  margin-top: 160px;
}

.photos {
  margin-top: 20px;
}

.img1 {
  background-image: url("../images/box1_img.jpg");
  height: 225px;
  width: 33%;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.img2 {
  background-image: url("../images/box2_img.jpg");
  height: 225px;
  width: 33%;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
}

.whiteBelt {
  width: 329px;
  height: 20px;
  background-color: rgba(250, 250, 250, .5);
  margin-top: 150px;
  padding: 30px 10px;
}

.greenLine {
  width: 135px;
  border-top: 5px solid rgb(39, 199, 171);
}

.findsAllInputs {
  height: 225px;
  width: 33%;
  border: 2px solid lightgrey;
  display: inline-block;
  float: left;
  padding: 20px 20px;
  line-height: 1.5;
  font-size: 14px;
  color: grey;
}

.clear {
  clear: both;
}

.prices {
  height: 650px;
  background-color: rgb(241, 241, 241);
  margin-top: 80px;
}

.prices p {
  padding-top: 40px;
}

.greenLineLong {
  width: 320px;
  border-top: 5px solid rgb(39, 199, 171);
}

.priceFrame {
  width: 329px;
  height: 450px;
  display: inline-block;
  float: left;
  border: 2px solid lightgrey;
  position: relative;
  margin-top: 70px;
  background-color: rgb(249, 249, 249);
}

.round {
  width: 50px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -35px;
  left: 139px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 13px solid lightgrey;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.priceFrame2 {
  width: 329px;
  height: 450px;
  display: inline-block;
  float: left;
  border: 2px solid lightgrey;
  position: relative;
  margin-top: 70px;
  margin-left: 33px;
  background-color: rgb(249, 249, 249);
}

.round2 {
  width: 50px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -35px;
  left: 139px;
}

.dot2 {
  width: 10px;
  height: 10px;
  border: 13px solid lightgrey;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.priceFrame3 {
  width: 329px;
  height: 450px;
  display: inline-block;
  float: right;
  border: 2px solid lightgrey;
  position: relative;
  margin-top: 70px;
  background-color: rgb(249, 249, 249);
}

.round3 {
  width: 50px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -35px;
  left: 139px;
}

.dot3 {
  width: 10px;
  height: 10px;
  border: 13px solid lightgrey;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}

.contactForm p {
    padding-top: 40px;
}

form {
  float: left;
  width: 70%;
}

.contactRightSide {
  float: left;
  width: 30%;
}

.redChair {
  background-image: url("../images/red_chair.png");
  width: 264px;
  height: 210px;
}
