* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Bold.woff2') format('woff2'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'), url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.woff2') format('woff2'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-ExtraLight.woff2') format('woff2'), url('../fonts/Raleway-ExtraLight.woff') format('woff'), url('../fonts/Raleway-ExtraLight.ttf') format('truetype'), url('../fonts/Raleway-ExtraLight.svg#Raleway-Bold') format('svg');
    font-weight: 200;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: black;
    padding: 10px 0;
}

.wrapper {
    max-width: 1054px;
    margin: 0 auto;
}

.logo {
    display: inline;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.greenLetters {
    color: rgb(39, 199, 171);
}

nav {
    float: right;
}

nav>ul>li {
    float: left;
    margin-left: 50px;
    color: white;
    font-weight: 400;
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
}

nav>ul>li>ul {
    display: none;
    position: absolute;
    width: 120px;
    list-style: none;
    background-color: black;
    margin: 20px 0 0 -25px;
    line-height: 30px;
    text-transform: capitalize;
    padding-left: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid black;
    margin: -10px auto 0;
}

.slider {
    background: linear-gradient(rgb(250, 250, 250), rgb(208, 207, 215));
    height: 400px;
}

#prevPicture {
    display: inline-block;
    float: left;
    font-size: 55px;
    color: rgb(39, 199, 171);
    margin-top: 160px;
}

ul {
    display: inline-block;
    float: left;
}

ul img {
    border: none;
}

.slider ul {
    list-style: none;
}

.slider li {
    display: none;
    margin-top: 50px;
}

.slider .show {
    display: inline-block;
}

.content {
    width: 40%;
    display: inline-block;
    float: left;
    margin-top: 100px;
}

.content h1 {
    text-align: center;
    font-weight: normal;
}

.content p {
    text-align: center;
    font-size: 14px;
    color: grey;
    line-height: 1.5;
    padding: 5px;
}

.button {
    height: 35px;
    width: 180px;
    background-color: rgb(39, 199, 171);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 8px;
    margin: 15px 0 0 125px;
}

.button:hover {
    background-color: #2c9683;
    color: white;
    box-shadow: 3px 3px 3px #888888;
}

#nextPicture {
    display: inline-block;
    float: right;
    font-size: 55px;
    color: rgb(39, 199, 171);
    margin-top: 160px;
}

.photos {
    margin-top: 20px;
}

.img1 {
    background-image: url("../images/box1_img.jpg");
    height: 225px;
    width: 329px;
    transition: transform 1s;
}

.img1:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 5px #888888;
}

.img2 {
    background-image: url("../images/box2_img.jpg");
    height: 225px;
    width: 329px;
    transition: transform 1s;
}

.img2:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 5px #888888;
}

.whiteBelt {
    width: 329px;
    height: 20px;
    background-color: rgba(250, 250, 250, .5);
    margin-top: 150px;
    padding: 30px 10px;
}

.greenLine {
    width: 135px;
    border-top: 5px solid rgb(39, 199, 171);
}

.findsAllInputs {
    height: 225px;
    width: 329px;
    border: 2px solid lightgrey;
    padding: 20px 20px;
    line-height: 1.5;
    font-size: 14px;
    color: grey;
}

.prices {
    height: 650px;
    background-color: rgb(241, 241, 241);
    margin-top: 80px;
}

.prices span {
    padding-top: 40px;
    display: inline-block;
}

.greenLineLong {
    width: 320px;
    border-top: 5px solid rgb(39, 199, 171);
}

.sectionsFloat {
    display: flex;
    justify-content: space-between;
}

.priceFrame {
    width: 329px;
    height: 450px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    position: relative;
    background-color: rgb(249, 249, 249);
    margin-top: 60px;
    transition: transform 1s;
}

.priceFrame:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px #888888;
}

.priceFrame span {
    padding-top: 0;
    margin-top: 25px;
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.round {
    width: 50px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -35px;
    left: 135px;
}

.dot {
    width: 10px;
    height: 10px;
    border: 13px solid lightgrey;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 11px;
}

.priceRound {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
    background-color: white;
}

.priceRound p {
    font-size: 40px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    padding-top: 15px;
    margin-left: 25px;
}

.priceRound .whiteCrow {
    margin-left: 15px;
}

.priceRound sup {
    font-size: 13px;
    font-weight: normal;
}

.priceRound .plnMsc {
    font-size: 14px;
    padding: 0;
    font-weight: normal;
    margin-left: 20px;
}

.green {
    background-color: rgb(39, 199, 171);
    color: white;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

table td {
    color: rgb(158, 158, 158);
    font-size: 18px;
    height: 35px;
    text-align: center;
}

.darkGrey {
    background-color: rgb(228, 228, 228);
}

.lightGrey {
    background-color: rgb(241, 241, 241);
}

.priceButton {
    height: 35px;
    width: 120px;
    background-color: rgb(39, 199, 171);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    margin: 100px 0 0 102px;
}

.priceButton:hover {
    background-color: #2c9683;
    color: white;
    box-shadow: 3px 3px 3px #888888;
}

.priceButton1 {
    height: 35px;
    width: 120px;
    background-color: rgb(39, 199, 171);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    margin: 65px 0 0 102px;
}

.priceButton1:hover {
    background-color: lightgrey;
    color: rgb(39, 199, 171);
    box-shadow: 3px 3px 3px #888888;
}

.priceFrame .white {
    background-color: white;
    color: rgb(39, 199, 171);
}

.priceButton2 {
    height: 35px;
    width: 120px;
    background-color: rgb(39, 199, 171);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    margin: 30px 0 0 102px;
}

.priceButton2:hover {
    background-color: #2c9683;
    color: white;
    box-shadow: 3px 3px 3px #888888;
}

.contactForm {
    height: 500px;
}

.contactForm p {
    padding-top: 40px;
}

form {
    margin-top: 50px;
    float: left;
    width: 70%;
    height: 360px;
}

input {
    width: 90%;
    height: 55px;
    border: 1px solid rgb(39, 199, 171);
    font-size: 25px;
    font-weight: 200;
    color: lightgrey;
    padding-left: 10px;
}

input[type=email] {
    margin: 30px 0;
}

textarea {
    width: 90%;
    height: 188px;
    resize: none;
    border: 1px solid rgb(39, 199, 171);
    font-size: 25px;
    font-weight: 200;
    color: lightgrey;
    padding-left: 10px;
}

.contactRightSide {
    margin-top: 50px;
    float: left;
    width: 30%;
}

.redChair {
    background-image: url("../images/red_chair.png");
    width: 264px;
    height: 210px;
}

.privatData {
    margin-top: 30px;
}

img {
    display: inline;
    border: 1px solid rgb(39, 199, 171);
    padding: 3px;
}

.privatData p {
    display: inline;
    float: right;
    padding: 0;
    width: 85%;
    font-weight: 200;
    color: rgb(180, 180, 180);
}

.buttonForm {
    width: 285px;
    height: 50px;
    background-color: rgb(39, 199, 171);
    border-radius: 5px;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.buttonForm:hover {
    background-color: #2c9683;
    color: white;
    box-shadow: 3px 3px 3px #888888;
}

.footerRightPart {
    display: inline-block;
    float: right;
    padding-left: 30px;
    margin-top: 35px;
}

.footerRightPart img {
    border: none;
}

footer {
    position: relative;
    height: 100px;
}

footer p {
    color: rgb(180, 180, 180);
    font-weight: 200;
    font-size: 14px;
    display: inline-block;
    float: left;
    position: absolute;
    left: 200px;
    top: 60px;
}

footer span {
    color: rgb(180, 180, 180);
    padding: 0 30px 0 45px;
}
